html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
}
:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-Dark-Cyan:  hsl(179, 100%, 13%);
}
main {
    display: flex;
    max-width: 57.3534534rem;
    width: 100%;
    height: 31rem;
    padding: 0;
    margin: 0;
    flex-direction: row;
    border-radius: 5px;
    
}
div {
    width: 100%;
    padding: 3em;
    border-radius: 5px;
}
.div1 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color:var(--Bright-orange);
}
.div2 {
    background-color: var(--Dark-cyan);
    border-radius: 0;
}
.div3 {
    background-color: var(--Very-Dark-Cyan);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

   /* fonts  */

.h1 {
    font-size: 2.7rem;
    margin-top: 1.9rem;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}
.p1 {
    margin-top: -0.5rem;
    line-height: 1.7;
}
.p2 {
    margin-top: -0.4rem;
    line-height: 1.67;
}
.p3 {
    margin-top: -0.4rem;
    line-height: 1.7;
}
/* fonts */

/* buttons */
button {
    padding: 1.2em;
    width: 11em;
    border-radius: 40px;
    outline: none;
    border: none;
}
.b1 {
    margin-top: 4.13123123rem;
}
.b2 {
    margin-top: 4.1312312rem;
}
.b3 {
    margin-top: 4.1312312rem;
}
span {
    font-size: 15px;
    z-index: 999;
}
.span1 {
    color: var(--Bright-orange)
}
.span2 {
    color: var(--Dark-cyan)
}
.span3 {
    color: var(--Very-Dark-Cyan);
}

/* media screens */
@media  screen and (max-width: 1000px) {

    main {
        height: 100%;
        width: 20em;
        flex-direction: column;
    }
    body {
        padding: 5em;
    }
}
/* hoverings */
button:hover{
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
}
span:hover {
    color: white;
    cursor: pointer;
}
